.article
  .article-proposal
    みんなからのすとれすけしごむです
    %br このけしごむであなたの悩みを消していきましょう
    .article-proposal__opinion
      -if @message.category_id == 1
        - @category1.shuffle.first(5).each do |m|
          %li
            = m.memo

      -if @message.category_id == 2
        - @category2.shuffle.first(5).each do |m|
          %li
            = m.memo

      -if @message.category_id == 3
        - @category3.shuffle.first(5).each do |m|
          %li
            = m.memo

      -if @message.category_id == 4
        - @category4.shuffle.first(5).each do |m|
          %li
            = m.memo

      -if @message.category_id == 5
        - @category5.shuffle.first(5).each do |m|
          %li
            = m.memo

      -if @message.category_id == 6
        - @category6.shuffle.first(5).each do |
          %li
            = m.memo







  .home-buttton
    = link_to root_path, class: 'home-buttton--btn' do
      toppage

