.SignupPage
  .SignupPage__title
    %h2 新規登録
    = render "devise/shared/links"
  .SignupPage__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .SignupField
        .SignupField__label   
          .SignupField__label--name
            = f.label :ニックネーム
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :name, autofocus: true
       
      .SignupField
        .SignupField__label
          .SignupField__label--name
            = f.label :メールアドレス
            .SignupField__need 必須
            .SignupField__input--name
              = f.email_field :email

      .SignupField
        .SignupField__label  
          .SignupField__label--name
            = f.label :パスワード
            %br (英数字8文字以上)
            .SignupField__need 必須
            .SignupField__input--name
              = f.password_field :password, autocomplete: "off"
      
      .SignupField
        .SignupField__label
          .SignupField__label--name
            = f.label :パスワード
            %br (確認用)
            .SignupField__need 必須
            .SignupField__input--name
              = f.password_field :password_confirmation, autocomplete: "off"

      .SignupPage__title__user
        %h3 お客様情報
      .SignupField
        .SignupField__label
          .SignupField__label--name
            = f.label :名字
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :first_name, autofocus: true
      .SignupField
        .SignupField__label   
          .SignupField__label--name
            = f.label :名前
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :last_name, autofocus: true
       
      .SignupField
        .SignupField__label
          .SignupField__label--name
            = f.label :名字（ふりがな）
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :first_name_kana, autofocus: true
      .SignupField
        .SignupField__label  
          .SignupField__label--name
            = f.label :名前（ふりがな）
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :last_name_kana, autofocus: true
      
      .SignupField
        .SignupField__label
          .SignupField__label--name
            = f.label :生年月日
            .SignupField__need 必須
            .SignupField__input--name
              = f.text_field :birthday, autofocus: true



      .Signupactions
        = f.submit "Create Account", class: 'UserButton'
