.loginPage
  .loginPage__title
    %h2 ログイン
    = render "devise/shared/links"
  .loginPage__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .loginField
        .loginField__label--normal
          = f.label :メールアドレス
        .loginField__input--normal
          = f.email_field :email, autofocus: true
      .loginField
        .loginField__label--normal
          = f.label :パスワード
          %h (英数字8文字以上)
        .loginField__input--normal
          = f.password_field :password, autocomplete: "off"
      .loginactions
        = f.submit "Log in", class: 'loginButton'
      
